* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #ADD8E6;
    padding: 15px 0;
}

/* Layout classes */
.container {
    max-width: 1200px;
    margin: 0px auto;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-20 {
    width: 20%;
}

.col-60 {
    width: 60%;
}


/* Main */
/* first row */
.bg-darkblue {
    background-color: #00008B;
}

.col-100 {
    width: 100%;
    height: 300px;
    background-color: #EE81EE;
    border: dashed 1px black;
}

/*row  colors*/
.bg-white {
    background-color: white;
}

.bg-grey {
    background-color: #D3D3D3;
}

.bg-black {
    background-color: #23272A;
}

.bg-darkgreen {
    background-color: #238B21;
}

.bg-lightacqua {
    background-color: #7FFFD4;
    padding: 10px 0;
}

/* column size and color */
.col-65 {
    width: 65%;
    height: 300px;
    background-color: #1D90FF;
    border: dashed 1px black;
}

.col-35 {
    width: 35%;
    height: 300px;
    background-color: #FFBFCB;
    border: dashed 1px black;
}

.col-16 {
    width: calc(100%/6);
    border: 1px dashed #fff;
    background-color: #20B2AA;
    height: 500px;
}

.col-33 {
    width: calc(100%/6*2);
    border: 1px dashed black;
    background-color: #F08080;
    height: 500px;
}

/*column width 100% but double height */
.h-500 {
    height: 500px;
}


footer {
    background-color: #23272A;
}


hr {
    color: #fff;
}

#bottone-sinistro {
    border: dashed 1px black;
}

#bottone-destro {
    border: dashed 1px black;
}


/* Utilities */

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

ul.text-center {
    list-style: none;
}

li {
    display: inline-block;
}

ul.text-center li a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
}

.py-10 {
    padding: 10px 0;
}

.py-20 {
    padding: 20px 0;
}

.justify-between {
    justify-content: space-between;
}

/* Footer  */
.top-footer {
    border-bottom: 1px solid gray;
    padding: 5px 0 15px 0;
}

.bottom-footer {
    padding-top: 10px;
}

.box-bottom-footer {
    background-color: #FFB6C0;
    border: dashed 1px black;
}

.btn {
    padding: 10px 20px;
    color: black;
    border-radius: 20px;
    text-decoration: none;
}

.btn-white {
    background-color: #fff;
}