* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #265DE8;
    padding: 15px 0;
}

/* Layout classes */
.container {
    max-width: 1200px;
    margin: 0px auto;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-20 {
    width: 20%;
}

.col-60 {
    width: 60%;
}


/* Main */
/* first row */
.bg-main-img {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.star-title {
    background-image: url(../img/stars.svg);
    background-size: cover;
}

h1 {
    font-size: 70px;
    padding-bottom: 40px;
}

.col-100 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*row  colors*/
.bg-white {
    background-color: white;
}

.bg-grey {
    background-color: #F6F6F6;
}

.bg-black {
    background-color: #23272A;
}

.bg-darkgreen {
    background-color: #238B21;
}

.bg-lightacqua {
    background-color: #7FFFD4;
    padding: 10px 0;
}

/* column size and color */
.col-65 {
    width: 65%;
}

.col-35 {
    width: 35%;
    height: fit-content;
}

.col-16 {
    width: calc(100%/6);
}

.col-33 {
    width: calc(100%/6*2);
}

/*column width 100% but double height */

footer {
    background-color: #23272A;
}


#bottone-sinistro {
    border: dashed 1px black;
}

#bottone-destro {
    border: dashed 1px black;
}


/* Utilities */

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

ul.text-center {
    list-style: none;
}

li {
    display: inline-block;
}

ul.text-center li a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
}

ul.footer-list li {
    display: block;
    padding: 10px 0;
}

.py-10 {
    padding: 10px 0;
}

.py-50 {
    padding: 50px 0;
}

.justify-between {
    justify-content: space-between;
}

/* Footer  */

.bottom-footer {
    padding-top: 10px;
}

.btn {
    padding: 10px 20px;
    color: black;
    border-radius: 20px;
    text-decoration: none;
}

.biggerbtn {
    margin: 15px 10px;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 25px;
}

.btn-white {
    background-color: #fff;
    color: black;
}

.btn-black {
    background-color: #23272A;
    color: white;
}

.btn-lightblue {
    background-color: #7189DA;
    color: white;
    margin: 50px 0;
}

.font-white {
    color: #fff;
}

.blue-text {
    color: #7189DA;
}

.medium-font {
    font-size: 30px;
}

.titles {
    font-size: 40px;
    padding-bottom: 25px;
    text-align: left;
}

.stars {
    width: 40%;
    margin-bottom: -15px;
}

.flag-icon {
    width: 20px;
    padding-right: 5px;
}

#select-language {
    background-color: #23272A;
    color: #fff;
    border: none;
}

hr {
    width: 1200px;
    margin: 0 auto;
}

.icons {
    font-size: 20px;
    color: #fff;
}

i {
    padding: 10px;
}